[color]
  ui = auto
[core]
  editor = vim
[grep]
  lineNumber = true
[merge]
  conflictStyle = diff3
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
{{- if eq .chezmoi.os "darwin" -}}
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
{{- end }}
  syntax-theme = base16
  navigate = true
  line-numbers = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
{{- if eq .chezmoi.os "darwin" -}}
[include]
  path = ~/.gitconfig.secret-noreply
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig.secret
{{ else }}
[include]
  path = ~/.gitconfig.secret
{{- end }}
