[color]
  ui = auto
[commit]
  gpgsign = true
[core]
  editor = vim
	excludesfile = ~/.config/git/gitignore
[grep]
  lineNumber = true
[merge]
  conflictStyle = diff3
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[delta]
{{ if eq .chezmoi.os "darwin" }}
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
{{- end }}
  syntax-theme = base16
  navigate = true
  line-numbers = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
[rerere]
  enabled = true
[init]
  defaultBranch = main
[advice]
  skippedCherryPicks = false
[user]
  email = r-k.sky_25cloudf@hotmail.co.jp
  name = ryo246912
  signingkey = 08BF9A27112516E5
{{ if eq .chezmoi.os "darwin" }}
[include]
  path = ~/.gitconfig.secret-noreply
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig.secret
{{ else }}
[include]
  path = ~/.gitconfig.secret
{{- end }}
