# パスの重複を除く
typeset -U path PATH
{{- if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

path=(
  $HOME/{,s}bin(N)
  /{opt,user}/local/{,s}bin(N)
  $path
)

# .zprofile.secretの読込
ZPROFILE_SECRET_CONF="${HOME}/.zprofile.secret"
if [ -e "${ZPROFILE_SECRET_CONF}" ]; then
  source "${ZPROFILE_SECRET_CONF}"
fi

# バックグラウンドでzcompile
# [-s:sizeが0以上][-nt:タイムスタンプが新しいか]
{
  files=(
    $HOME/.zprofile{,.secret}
    $HOME/.zshrc{,.secret,.lazy}
    $HOME/.zcompdump
  )
  for file in "${files[@]}" ; do
    if [[ -s "$file" && (! -s "${file}.zwc" || "$file" -nt "${file}.zwc") ]]; then
      zcompile "$file"
    fi
  done
} &!
