# Rust
. "$HOME/.cargo/env"
# Nix
{{ if eq .chezmoi.os "darwin" -}}
if [ -e "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh" ]; then
  . "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh";
fi
{{ else -}}
if [ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]; then
  . "$HOME/.nix-profile/etc/profile.d/nix.sh";
fi
{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
# FIXME: .zprofile読み込まれない関係でPATHが通らなかったため暫定的に記載
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# zprofでプロファイリング
# zmodload zsh/zprof && zprof
