#!/bin/bash
[ "$(uname)" != "Linux" ] && exit

# 移動対象のファイル
# {{ include "dot_config/claude/claude_desktop_config_win.json" | sha256sum }}
# {{ include "dot_config/autohotkey/AutoHotkey.ahk" | sha256sum }}
# {{ include "dot_config/alacritty/alacritty.toml.tmpl" | sha256sum }}
# {{ include "dot_config/rio/private_config.toml.tmpl" | sha256sum }}
# {{ include "dot_config/vscode/keybindings_linux.json" | sha256sum }}
# {{ include "dot_config/vscode/settings.json" | sha256sum }}
# {{ include "dot_config/vscode/global.code-snippets" | sha256sum }}

# 配列でキーと値を管理
# 保存元ファイルパス 保存先ディレクトリ
file_mappings=(
  "{{ .chezmoi.sourceDir }}/dot_config/claude/claude_desktop_config_win.json" "$APPDATA/Roaming/Claude/claude_desktop_config.json"
  "{{ .chezmoi.sourceDir }}/dot_config/autohotkey/AutoHotkey.ahk" "$USERDIR/Documents/Tool/AutoHotkey/AutoHotkey.ahk"
  "$HOME/.config/alacritty/alacritty.toml" "$APPDATA/Roaming/alacritty/alacritty.toml"
  "$HOME/.config/rio/config.toml" "$APPDATA/Local/rio/config.toml"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/keybindings_linux.json" "$APPDATA/Roaming/Code/User/keybindings.json"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/keybindings_linux.json" "$USERDIR/scoop/apps/vscode/current/data/user-data/User/keybindings.json"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/settings.json" "$APPDATA/Roaming/Code/User/settings.json"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/settings.json" "$USERDIR/scoop/apps/vscode/current/data/user-data/User/settings.json"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/global.code-snippets" "$APPDATA/Roaming/Code/User/snippets/global.code-snippets"
  "{{ .chezmoi.sourceDir }}/dot_config/vscode/global.code-snippets" "$USERDIR/scoop/apps/vscode/current/data/user-data/User/snippets/global.code-snippets"
)

# 配列をループで処理
for ((i=0; i<${#file_mappings[@]}; i+=2)); do
  source_file="${file_mappings[i]}"
  dest_dir="${file_mappings[i+1]}"

  # コピー先のディレクトリが存在しない場合は作成
  dest_parent_dir=$(dirname "$dest_dir")
  if [ ! -d "$dest_parent_dir" ]; then
    mkdir -p "$dest_parent_dir"
  fi
  # コピー元とコピー先の更新日時を比較
  if [ -f "$dest_dir" ] && [ "$source_file" -ot "$dest_dir" ]; then
    continue
  fi

  while true; do
    echo "$source_file をコピーしますか? (y/n/d)"
    read -r answer

    case "$answer" in
      y|Y)
        cp "$source_file" "$dest_dir"
        break
        ;;
      n|N)
        break
        ;;
      d|D)
        delta "$dest_dir" "$source_file"
        ;;
      *)
        ;;
    esac
  done
done
