{{- if eq .chezmoi.os "darwin" -}}
{{   include "dot_vscode/executable_extensions_darwin.sh" -}}
{{- end }}
{{- if eq .chezmoi.os "linux" -}}
{{   include "dot_vscode/executable_extensions_linux.sh" -}}
{{- end }}
