[color]
  ui = auto
[commit]
  gpgsign = true
[credential]
{{ if eq .chezmoi.os "darwin" }}
  # macOS Keychain。GitHub 自体は下の pushInsteadOf で SSH に寄せているため、これが要るのは
  # GitHub の HTTPS clone や GitHub 以外の HTTPS git host（社内 GitLab 等）向け。
  helper = osxkeychain
{{- else }}
  # WSL2 には osxkeychain 相当の OS keychain 連携が無いため、git-credential-manager (GCM) +
  # pass(gpg) の credential store を使い、既存の GPG 鍵（下の user.signingkey）で暗号化して
  # 永続化する。セットアップ手順は docs/credentials.md 参照。
  helper = manager
  credentialStore = gpg
{{- end }}
[core]
  editor = nvim
  excludesfile = ~/.config/git/gitignore
[grep]
  lineNumber = true
[merge]
  conflictStyle = diff3
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[pull]
  ff = only
[push]
  default = current
[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[delta]
{{ if eq .chezmoi.os "darwin" }}
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
{{- end }}
  syntax-theme = base16
  navigate = true
  line-numbers = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
[rerere]
  enabled = true
[init]
  defaultBranch = main
[advice]
  skippedCherryPicks = false
[user]
  email = r-k.sky_25cloudf@hotmail.co.jp
  name = ryo246912
  signingkey = 08BF9A27112516E5
{{ if eq .chezmoi.os "darwin" }}
[include]
  path = ~/.gitconfig.secret-noreply
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig.secret
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig.secret
{{ else }}
[include]
  path = ~/.gitconfig.secret
{{- end }}

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = \"?aws_secret_access_key\"?[[:space:]]*[:=][[:space:]]*\"?[A-Za-z0-9/\+=]{40}\"?
	patterns = \"?aws_session_token\"?[[:space:]]*[:=][[:space:]]*\"?[A-Za-z0-9/\+=]{16,}\"?
