abbr ch='chezmoi'
abbr chad='chezmoi add --template'
abbr chap='chezmoi apply --interactive'
abbr chcd='vim $(chezmoi list -p absolute -i files | fzf)'
abbr chcs='vim $(chezmoi list -p source-absolute -i files | fzf)'
abbr chch='chezmoi chattr +template'
abbr chd='chezmoi data'
abbr chdi='chezmoi diff $(chezmoi list -p absolute -i files | fzf)'
abbr che='chezmoi edit --interactive --apply'
abbr chl='chezmoi list -p source-absolute -i files'
abbr chm='chezmoi merge $(chezmoi list -p absolute -i files | fzf)'

abbr es='exec $SHELL -l'
abbr gb='git branch'
abbr gc='git checkout'
abbr gu='gitui'
abbr gcb='git checkout -b'
abbr gcs='git checkout staging'
abbr gcm='git checkout master'
abbr gf='git fetch -p'
abbr gs='git status'
abbr gd='git diff'
abbr gl='git log --oneline -n 10'
abbr gpoh='git push origin HEAD'
abbr gpom='git pull origin master --no-commit'
abbr grom='git rebase origin/master'

{{ if eq .chezmoi.os "darwin" -}}
abbr fgb='() { local branches branch ; branches=$(git branch -a) && branch=$(echo "$branches" | fzf --preview "git log --color=always --oneline --graph {1}") && $(echo -n "${${branch:2}#*remotes/origin/}" | pbcopy) }'
abbr fgc="() { local branches branch ; branches=$(git branch -vv) && branch=$(echo "$branches" | fzf --preview "git log --color=always --oneline --graph {1}") && git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //") }"
abbr fgh="() { local commits commit ; commits=$(git log --oneline) && commit=$(echo "$commits" | fzf --preview "git show {1} | delta --no-gitconfig") && $(echo -n "$commit" | awk '{printf $1}' | pbcopy) }"
abbr fghd="() { local commits commit1 commit2 ; commits=$(git log --oneline) && commit1=$(echo "$commits" | fzf | awk '{printf $1}') && commit2=$(echo "$commits" | fzf --preview "git diff "$commit1...{1}" | delta --no-gitconfig" | awk '{printf $1}') && git diff "$commit1...$commit2" | delta && $(echo -n "$commit1...$commit2" | pbcopy) }"
{{- end }}
abbr fz="() { local res=$(z | sort -rn | cut -c 12- | fzf) ; if [ -n "$res" ]; then cd $res ; else return 1 ; fi }"

{{ if eq .chezmoi.os "darwin" -}}
abbr mh='make help'
abbr ml='make lint'
abbr mf='make freshup-local-for-py-engineer'
{{- end }}

abbr nr='npm run'
abbr nrb='npm run build'
abbr nrd='npm run dev'
abbr nrf='npm run fix'
abbr nrl='npm run lint'
abbr nrs='npm run storybook'
abbr nrt='npm run test'
abbr nrtd='npm run test $(git diff --name-only --line-prefix=$(git rev-parse --show-toplevel)/ master...HEAD | grep -E ".*spec.*")'
abbr nrv='npm run vite'

abbr -g p='|'
