abbr ch='chezmoi'
abbr chad='chezmoi add --template'
abbr chap='chezmoi apply --interactive'
abbr chcd='() { local file ; file=$(chezmoi list -p absolute -i files | fzf) ; [ -n "$file" ] && vim $file }'
abbr chcs='() { local file ; file=$(chezmoi list -p source-absolute -i files | fzf) ; [ -n "$file" ] && vim $file }'
abbr chch='chezmoi chattr +template'
abbr chd='chezmoi data'
abbr chdi='() { local file ; file=$(chezmoi list -p absolute -i files | fzf) ; [ -n "$file" ] && chezmoi diff $file }'
abbr che='chezmoi edit --interactive --apply'
abbr chl='chezmoi list -p source-absolute -i files'
abbr chm='() { local file ; file=$(chezmoi list -p absolute -i files | fzf) ; [ -n "$file" ] && chezmoi merge $file }'

abbr cz='czg'

abbr es='exec $SHELL -l'

abbr -g g='git'
abbr ga='git add'
abbr gad='git add --dry-run'
abbr gb='git branch'
abbr gc='git checkout'
abbr gca='git commit --amend'
abbr gcam='git commit --amend -m ""'
abbr gcm='git commit -m ""'
abbr gcb='git checkout -b'
abbr gchb='git checkout -b'
abbr gchs='git checkout staging'
abbr gchm='git checkout master'
abbr gd='git diff'
abbr gds='git diff --cached'
abbr gf='git fetch -p'
abbr gg='git grep'
abbr gl='git log -n 10 --pretty=format:"%C(auto)%h (%Cblue%ad%C(auto))%d %s" --date=format:"%Y/%m/%d %H:%M:%S"'
abbr gm='git merge'
abbr gmd='git merge --no-commit --no-ff'
abbr gma='git merge --abort'
abbr gp='git pull --no-commit'
abbr gpo='git pull origin --no-commit'
abbr gpoh='git push origin HEAD'
abbr gpom='git pull origin master --no-commit'
abbr gra='git rebase --abort'
abbr grc='git rebase --continue'
abbr gre='git reflog'
abbr grom='git rebase origin/master'
abbr gs='git status'
abbr gst='git stash'
abbr gu='gitui'

{{ if eq .chezmoi.os "darwin" -}}
abbr fgb='() { local branches branch ; branches=$(git branch -a) && branch=$(echo "$branches" | fzf --preview "git log --color=always --oneline --graph {1}") && $(echo -n "${${branch:2}#*remotes/origin/}" | pbcopy) }'
abbr fgc="() { local branches branch ; branches=$(git branch -vv) && branch=$(echo "$branches" | fzf --preview "git log --color=always --oneline --graph {1}") && git checkout $(echo "$branch" | awk '{print $1}' | sed "s/.* //") }"
abbr fgh="() { local commits commit ; commits=$(git log --oneline) && commit=$(echo "$commits" | fzf --preview "git show {1} | delta --no-gitconfig") && $(echo -n "$commit" | awk '{printf $1}' | pbcopy) }"
abbr fghd="() { local commits commit1 commit2 ; commits=$(git log --oneline) && commit1=$(echo "$commits" | fzf | awk '{printf $1}') && commit2=$(echo "$commits" | fzf --preview "git diff "$commit1...{1}" | delta --no-gitconfig" | awk '{printf $1}') && git diff "$commit1...$commit2" | delta && $(echo -n "$commit1...$commit2" | pbcopy) }"
{{- end }}
abbr fz="() { local res=$(z | sort -rn | cut -c 12- | fzf) ; if [ -n "$res" ]; then cd $res ; else return 1 ; fi }"

{{ if eq .chezmoi.os "darwin" -}}
abbr mh='make help'
abbr ml='make lint'
abbr mf='make freshup-local-for-py-engineer'
{{- end }}

abbr nr='npm run'
abbr nrb='npm run build'
abbr nrd='npm run dev'
abbr nrf='npm run fix'
abbr nrl='npm run lint'
abbr nrs='npm run storybook'
abbr nrt='npm run test'
abbr nrtd='npm run test $(git diff --name-only --line-prefix=$(git rev-parse --show-toplevel)/ master...HEAD | grep -E ".*spec.*")'
abbr nrv='npm run vite'

abbr -g p='|'
