{
  "$schema": "https://github.com/dyoshikawa/rulesync/releases/latest/download/mcp-schema.json",
  "mcpServers": {
    "io.github.ChromeDevTools/chrome-devtools-mcp": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "chrome-devtools-mcp@0.13.0",
        "--browser-url=http://localhost:9222"
      ]
    },
    "io.github.ChromeDevTools/chrome-devtools-mcp2": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "chrome-devtools-mcp@0.13.0",
        "--browser-url=http://localhost:9223"
      ]
    },
    "io.github.ChromeDevTools/chrome-devtools-mcp3": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "chrome-devtools-mcp@0.13.0",
        "--browser-url=http://localhost:9224"
      ]
    },
    "makenotion/notion-mcp-server": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote@latest",
        "https://mcp.notion.com/mcp"
      ]
    },
    "AWS Billing and Cost Management MCP Server": {
      "type": "stdio",
      "command": "uvx",
      "args": ["awslabs.billing-cost-management-mcp-server@latest"],
      "env": {
        "FASTMCP_LOG_LEVEL": "ERROR",
        "AWS_PROFILE": {{ quote (env "AWS_PROFILE") }},
        "AWS_REGION": "ap-northeast-1"
      }
    },
    "CloudWatch MCP Server": {
      "type": "stdio",
      "command": "uvx",
      "args": ["awslabs.cloudwatch-mcp-server@latest"],
      "env": {
        "AWS_PROFILE": {{ quote (env "AWS_PROFILE") }},
        "FASTMCP_LOG_LEVEL": "ERROR"
      }
    },
    "deepwiki": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote@latest",
        "https://mcp.deepwiki.com/mcp"
      ]
    },
    "context7": {
      "type": "stdio",
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp@latest"]
    }
  }
}
