name: lint
on:
  push:
    branches:
      - main
    paths:
      - "**.yaml"
      - "**.toml"
      - "**.json"
  pull_request:
    branches:
      - main
    paths:
      - "**.yaml"
      - "**.toml"
      - "**.json"

permissions: {}

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-json:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install_args: "npm:prettier"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: prettier
        run: prettier --check '**/*.json'

  lint-yaml:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install_args: "npm:prettier"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: prettier
        run: prettier --check '**/*.{yaml,yml}'

  lint-toml:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install_args: "npm:@taplo/cli"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: taplo
        run: taplo format --check
