name: lint-action
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/*"

permissions: {}

concurrency:
  group: lint-action-${{ github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: 2024.12.24
          install_args: "actionlint"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: actionlint
        run: |
          actionlint \
          -format '{{range $err := .}}::error file={{$err.Filepath}},line={{$err.Line}},col={{$err.Column}}::{{$err.Message}}%0A```%0A{{replace $err.Snippet "\\n" "%0A"}}%0A```\n{{end}}' \
          -ignore 'SC2016:'
  ghalint:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: 2024.12.24
          install_args: "aqua:suzuki-shunsuke/ghalint"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: ghalint
        run: ghalint run
        env:
          GHALINT_LOG_COLOR: always
  zizmor:
    if: ${{ ! endsWith(github.actor, '[bot]')}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: 2024.12.24
          install_args: "pipx:zizmor"
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
      - name: zizmor
        run: zizmor --pedantic --format=github --min-severity=low .github/workflows
        env:
          GH_TOKEN: ${{ github.token }}
